/* Custom Stylesheet */

nav ul a,
nav .brand-logo {
  color: #444;
}
p {
  line-height: 1.5rem;
}

.button-collapse {
  color: #26a69a;
}

.logogrid {
   padding-right:32px;display:inline-flex;
}

.parallax-container {
  min-height: 580px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
    max-width : 1280px
  }

@media only screen and (max-width : 980px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

h4 {font-size:18px; line-height:1.4rem;}

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
  background-color:#546473;
}
