{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12">
        <div class="card-panel" style="min-height:500px;">
          <h4>{{ .Title }}</h4>
          <p>
          {{if .Params.categories }}
            {{ range $index, $category := .Params.categories }}
              <a href="{{$baseurl}}/categories/{{ $category | urlize }}/">{{ $category }}</a>
            {{ end }}
          {{end}}
          </p>
          <p>{{ .Content }}</p>
            {{if .Params.tags }}
              {{ range $index, $tag := .Params.tags }}
                <a href="{{$baseurl}}/tags/{{ $tag | urlize }}/">#{{ $tag }}</a>
              {{ end }}
            {{end}}
          </p>
          {{ with .Site.DisqusShortname }}
            {{ partial "disqus.html" . }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
