  <footer class="page-footer" style="min-height:300px;">
    <div class="Center-Container">
      <div class="rowVertical" style="height:60px;">
      <div class="rowVertical cellLeft"><img src="{{.Site.BaseURL}}/images/ocp_icon-02_white-02.svg"></div>
      <div class="footerRowVertical cellLeft" style="color:#ffffff; font-family: Roboto; font-size: 18px; padding-left:16px; letter-spacing: .1rem;"><a class="navlinkfooter" href="{{.Site.BaseURL}}/">OPEN CONTAINER INITIATIVE</a></div>
    </div>
  </div>
    <div class="Center-Container">
      <div class="rowVertical" style="height:80px;">
     <div style="display:inline-flex; padding-top: 48px; padding-left: 50px; padding-right:48px;">
         <a class="navlinkfooter" style="padding-right:24px;" href="{{.Site.BaseURL}}/about">About</a>
         <a class="navlinkfooter" style="padding-right:24px;" href="{{.Site.BaseURL}}/faq">FAQ</a>
         <a class="navlinkfooter" style="padding-right:24px;" href="{{.Site.BaseURL}}/charter">Charter</a>
      </div>
    </div>
  </div>
    <div class="footer-copyright" style="background-color:#546473;">
      <div class="Center-Container">
      <div class="rowVertical" style="height:80px;">
      {{.Site.Copyright}}
      </div>
    </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="{{.Site.BaseURL}}/js/materialize.min.js"></script>
  <script src="{{.Site.BaseURL}}/js/init.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  {{with  .Site.Params.googleAnalyticsUserID }}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{.}}', 'auto');
    ga('send', 'pageview');
  </script>
  {{end}}

  </body>
</html>
