<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{{ .Title }}</title>
  <link href="{{.Site.BaseURL}}/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{.Site.BaseURL}}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
  <style type="text/css">
  {{if .Site.Params.footerCover}}
    footer.page-footer{background-image: url({{.Site.BaseURL}}/{{.Site.Params.footerCover}});}
  {{else}}
    footer.page-footer{background-image: url({{.Site.BaseURL}}/images/default.png);}
  {{end}}
  </style>
</head>
<body>
  
