<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{{ .Title }}</title>
  <link href="{{.Site.BaseURL}}/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{.Site.BaseURL}}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
  {{ if eq .Title "Charter" }}
  <style>
  .card-panel > ul li {
    list-style-type: none;
    margin-left: 1.5em;
  }
  </style>
{{ end }}
</head>
<body>
  <div id="header-banner">
    <div class="Center-Container" style="background-color:#8e9cff;">
      <div class="rowVertical">
       <div class="rowVertical cellLeft"><img src="{{.Site.BaseURL}}/images/ocp_icon-02.svg" height="28px"/></div>
       <div class="rowVertical cellLeft" style="color:#ffffff; display:inline-flex;font-family: Roboto; font-size: 18px; padding-left:16px; letter-spacing: .1rem;"><a style="color:#ffffff" href="{{.Site.BaseURL}}/">OPEN CONTAINER INITIATIVE</a></div>
       <link rel="icon" type="image/png" href="{{.Site.BaseURL}}/images/favicon-16x16.png" sizes="16x16">
       <div style="display:inline-flex;float:right; padding-left:120px; padding-top:20px; padding-right:48px;">
         <a class="navlinkindex" style="padding-right:24px;" href="{{.Site.BaseURL}}/about">About</a>
         <a class="navlinkindex" style="padding-right:24px;" href="{{.Site.BaseURL}}/faq">FAQ</a>
         <a class="navlinkindex" style="padding-right:24px;" href="{{.Site.BaseURL}}/charter">Charter</a>
      </div>
     </div>
     </div>

  </div>
