<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{{ .Title }}</title>
  <link href="{{.Site.BaseURL}}/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{.Site.BaseURL}}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css">
  <link rel="icon" type="image/png" href="{{.Site.BaseURL}}/images/favicon-16x16.png" sizes="16x16">
  <style type="text/css">
  {{if .Site.Params.footerCover}}
    footer.page-footer{background-image: url({{.Site.BaseURL}}/{{.Site.Params.footerCover}});}
  {{else}}
    footer.page-footer{background-image: url({{.Site.BaseURL}}/images/default.png);}
  {{end}}
  </style>
</head>
<body>
  <div id="header-banner">
     <div class="section no-pad-bot" style="background-color:#8e9cff; height:60px; padding-left:16px;">
      <div class="container">
       <div style="border: 12px solid #f0f93d; width:36px; height:36px; display:inline-flex;"></div><div style="color:#ffffff; display:inline-flex;font-family: Roboto; font-size: 18px; padding-left:16px; letter-spacing: .1rem;"><a style="color:#ffffff" href="{{.Site.BaseURL}}/">OPEN CONTAINER PROJECT</a></div>

       <div style="display:inline-flex;float:right; padding-right:48px;">
         <a style="color:#ffffff;padding-right:24px;" href="{{.Site.BaseURL}}/about">About</a>
         <a style="color:#ffffff;padding-right:24px;" href="{{.Site.BaseURL}}/faq">FAQ</a>
         <a style="color:#ffffff;padding-right:24px;" href="{{.Site.BaseURL}}/charter">Charter</a>
      </div>
     </div>
     </div>

  </div>
