
 {{ partial "header_index.html" . }}
<div class="Center-Container" style="background-color:#ffffff">
  <div class="gridContainer" style="height:35px;">
<a id="lfcollabprojects-logo" href="http://collabprojects.linuxfoundation.org"></a>
</div>
</div>
<div class="Center-Container">
      <div class="gridContainer">

        <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/AmazonWebservices_Logo.svg" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/Apcera-logo-dark.png" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/Cisco_logo.svg" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/coreos_logo.svg" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/docker_logo.svg" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/EMC_Corporation_logo.svg" height="24px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/Fujitsu-Logo.svg" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/Goldman_Sachs.svg" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/HP_New_Logo_2D.svg" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/Huawei.svg" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/IBM_logo.svg" height="24px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/Intel-logo.svg" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/Joyent-logo.png" height="24px"></div>
        <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/kismatic-logo.png" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/Linux_Foundation_logo.png" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/Logo_Google_2013_Official.svg" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/mesosphere_logo.png" height="18px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/Microsoft_logo_(2012).svg" height="24px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/pivotal.svg" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/rancher_logo.png" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/red-hat-logotype.svg" height="28px"></div>
        <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/Sysdig_Logo.svg" height="28px"></div>
	      <div class="logogrid"><img src="{{.Site.BaseURL}}/images/logos/Vmware.svg" height="18px"></div>
      </div>
 </div>

 <div class="Center-Container">
    <div class="rowVertical" style="color:#000000; text-align:center; padding:36px 36px 0px 36px"><p>Announcing a new project, supported by users and industry leaders around the world, to bring open standards to software containers.</p></div>
  </div>

     <div class="Center-Container">
      <div class="rowVertical" style="height:154px;">

        <div class="rowVertical cellLeft"><img src="{{.Site.BaseURL}}/images/ocp_icon-02.svg" height="64"></div>
        <div class="rowVertical cellLeft" style="padding-left:16px;color:#ffffff; font-family: Roboto; font-size: 40px; line-height:2em; letter-spacing: .2rem;">OPEN CONTAINER PROJECT</div>
      </div>
    </div>
    <div class="Center-Container">
    <div class="rowVertical" style="padding-right:48px; padding-bottom:54px;">
         <a class="navlinkindex" style="padding-right:24px;" href="{{.Site.BaseURL}}/about">About</a>
         <a class="navlinkindex" style="padding-right:24px;" href="{{.Site.BaseURL}}/faq">FAQ</a>
         <a class="navlinkindex" style="padding-right:24px;" href="{{.Site.BaseURL}}/charter">Charter</a>
      </div>
    </div>


    <div class="parallax">
    {{if .Site.Params.headerCover}}
      <img src="{{.Site.BaseURL}}/{{.Site.Params.headerCover}}">
    {{else}}
      <img src="{{.Site.BaseURL}}/images/default.png">
    {{end}}
    </div>


<div class="Center-Container">
      <div class="rowVertical" style="width:1000px; background:#ffffff">
        <div class="textColumn cellLeft">
          {{ range first 1 (where .Data.Pages  "Params.include" "index-1") }}
            {{ .Content }}
          {{ end }}
      </div>
        <div class="textColumn cellLeft">
          {{ range first 1 (where .Data.Pages  "Params.include" "index-2") }}
            {{ .Content }}
          {{ end }}
        </div>
      </div>
    </div>





<div class="section no-pad-bot" style="background-color:#eef1ff; padding-bottom:48px;">
<div class="row" style="text-align:center; margin:48px;">
<div style="border: 1px solid #546473; padding:18px; width:260px; display: -webkit-inline-flex; display: -ms-inline-flexbox; display:inline-flex; background-color:#ffffff;text-align:center;">Ask a question about the project</div>
<br/><br/>
<a href="mailto:info@opencontainers.org" style="width:200px;">info@opencontainers.org</a>
</div>
</div>
<div class="section no-pad-bot" style="background-color:#8e9cff;">
<div class="container" style="text-align:center; padding-bottom:48px;">
<div class="row" style="text-align:center; padding-top:36px;">
<div style="border: 1px solid #ffffff; padding:18px; width:200px; display: -webkit-inline-flex; display: -ms-inline-flexbox; display:inline-flex; color:#ffffff;text-align:center">News & Press</div>
</div>
<div style="text-align:center; padding-right:36px;">
6/20/2015&nbsp;
<a class="newslink" href="{{.Site.BaseURL}}/pressrelease">Industry Leaders Unite to Create Project for Open Container Standards</a>
<br /><br />
	</div>

</div>
</div>
</div>
</div>


{{ partial "footer.html" . }}
